= form_with(model: owner) do |form|
  - if owner.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(owner.errors.count, "error")
        prohibited this owner from being saved:
      %ul
        - owner.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :name, style: "display: block"
    = form.text_field :name
  %div
    = form.label :last_name, style: "display: block"
    = form.text_field :last_name
  %div
    = form.label :e_mail, style: "display: block"
    = form.text_field :e_mail
  %div
    = form.label :personal_id, style: "display: block"
    = form.number_field :personal_id
  %div
    = form.submit
