<div id="<%= dom_id owner %>">
  <p>
    <strong>Nombre:</strong>
    <%= owner.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= owner.apellido %>
  </p>

  <p>
    <strong>Correo electronico:</strong>
    <%= owner.correo_electronico %>
  </p>

  <p>
    <strong>Identificacion:</strong>
    <%= owner.identificacion %>
  </p>

</div>
