%div{:id => "#{dom_id owner}"}
  %p
    %strong 
      =t('activerecord.attributes.owner.name') 
    = owner.name
  %p
    %strong 
      =t('activerecord.attributes.owner.last_name')
    = owner.last_name
  %p
    %strong 
      =t('activerecord.attributes.owner.e_mail')
    = owner.e_mail
  %p
    %strong 
      =t('activerecord.attributes.owner.personal_id')
    = owner.personal_id
