<div id="<%= dom_id owner %>">
  <p>
    <strong>Name:</strong>
    <%= owner.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= owner.last_name %>
  </p>

  <p>
    <strong>E mail:</strong>
    <%= owner.e_mail %>
  </p>

  <p>
    <strong>Personal:</strong>
    <%= owner.personal_id %>
  </p>

</div>
