<div id="<%= dom_id owner %>">
  <p>
    <strong>first_name:</strong>
    <%= owner.first_name %>
  </p>

  <p>
    <strong>last_name:</strong>
    <%= owner.last_name %>
  </p>

  <p>
  <strong>mail:</strong>
  <%= owner.mail %>
</p>

<p>
  <strong>personal_id</strong>
  <%= owner.personal_id %>
</p>


</div>
