%div{:id => "#{dom_id owner}"}
  %p
    %strong Name:
    = owner.name
  %p
    %strong Last name:
    = owner.last_name
  %p
    %strong E mail:
    = owner.e_mail
  %p
    %strong Personal:
    = owner.personal_id
