<div id="<%= dom_id owner %>">
  <p>
    <strong>Nombre:</strong>
    <%= owner.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= owner.apellido %>
  </p>

  <p>
    <strong>Correoelectronico:</strong>
    <%= owner.correoElectronico %>
  </p>

  <p>
    <strong>Numeroid:</strong>
    <%= owner.numeroId %>
  </p>

</div>
