<div id="<%= dom_id create_owner %>">
  <p>
    <strong>Nombre:</strong>
    <%= create_owner.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= create_owner.apellido %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= create_owner.correo %>
  </p>

  <p>
    <strong>Numeroidentificacion:</strong>
    <%= create_owner.numeroIdentificacion %>
  </p>

</div>
